<header class="header">
        <nav class="nav">
        <a href="mailto:imke.duensing@gmail.com" target="_blank"> <i class="icon fas fa-at"></i></a>
        <a href="https://codepen.io/imked" target="_blank"><i class="icon fab fa-codepen"></i></a>
        <a href="https://github.com/imked/" target="_blank"><i class="icon fab fa-github"></i></a>
        <a href="https://www.xing.com/profile/Imke_Duensing2/cv"><i class=" icon fab fa-xing"></i></a>
        <a href="https://www.linkedin.com/in/paltronimkeduensing/" target="_blank"><i class=" icon fab fa-linkedin-in"></i></a>
        </nav>
    <div class="title">
      <h1 class="header__title">
      <div class="main-header__title">Imke Duensing</div>
      <div class="main-header___subtitle">Web Development</div>
      </h1>
  </div>
</header>
