<header class="header">
  <div>
    <h1>
    <div class="main-header__title">Imke Duensing</div>
    <div class="main-header___subtitle">Web Development</div>
    </h1>
    <nav>
    <a href="Link1"><i class="icon fas fa-at fa-3x"></i></a>
    <a href="Link2"><i class="icon fab fa-codepen fa-3x"></i></a>
    <a href="Link3"><i class="icon fab fa-github fa-3x"></i></a>
    <a href="Link4"><i class=" icon fab fa-xing fa-3x"></i></a>
    <a href="Link4"><i class=" icon fab fa-linkedin-in fa-3x"></i></a>
    </nav>
  </div>
</header>
