<main class="home grid__scroll-area p-20 bg-light text-dark">

  <section class="skills shadow">
  <h3>My Skills</h3>
  <ul class="tags">
    <li>JavaScript</li></li>
    <li>React</li>
    <li>Redux</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Modular CSS</li>
    <li>Responsive Websites</li>
    <li>Mobile Apps</li>
    <li>Node.js</li>
    <li>NoSQL</li>
    <li>Scrum & Kanban</li>
  </ul>
  </section>
  <section class="intro shadow">
  <div class="about">
  <h3>About me</h3>
                <p>I am a Web Developer living in Hamburg. After my studies and two years as a Recruiter for the Tech-Industry, I've decided to switch sides and joined the bootcamp at neuefische.</p>
                </div>
                </section>

  <section class="cv shadow">
  <h3>Curriculum Vitae</h3>
                    <table class="table">
                        <tbody>
                         <tr>
                                <th class="">2018</th>
                                <td>HR Consultant</td>
                            </tr>
                            <tr>
                                <th class="">2016</th>
                                <td>M.Sc. Management and Organisation Studies</td>
                            </tr>
                            <tr>
                                <th class="">2013</th>
                                <td>B.A. European Studies</td>
                            </tr>
                            <tr>
                                <th class="">2009</th>
                                <td>Abitur</td>
                            </tr>
                           
                        </tbody>
                    </table>
    </section>
</main>
