<main class="home grid__scroll-area p-20 bg-light text-dark">
  <section class="skills">
  <h3>Skills</h3>
  <ul>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
  </ul>
  </section>
  <section class="intro">
  <div class="about">
  <h3>About me</h3>
                <p>I am a Web Developer living in Hamburg. After my studies and two years as a Recruiter for the Tech-Industry, I've decided to switch sides and joined the bootcamp at neuefische.</p>
                </div>
  <div class="cv">
  <h3>Curriculum Vitae</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="">2016</th>
                                <td>M.Sc. Management and Organisation Studies</td>
                            </tr>
                            <tr>
                                <th class="">2013</th>
                                <td>B.A. European Studies</td>
                            </tr>
                            <tr>
                                <th class="">2009</th>
                                <td>Abitur</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
  </section>
</main>
