<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Impressum</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body class="grid">
  <%- include('components/header') %>
  <h1>Imprint</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, facilis ipsam necessitatibus voluptatibus voluptate voluptates esse. Nemo voluptates esse dolorem! In cupiditate porro rem eius similique praesentium veniam delectus recusandae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aliquam at quisquam nam voluptatum placeat corporis facere doloribus asperiores magni, ab natus nemo fuga sunt consectetur! Totam deleniti tenetur suscipit!</p>
  <%- include('components/footer') %>
</body>

</html>