.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: grey;
}

.main-header__title {
  border-bottom: 1px solid grey;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 100;
}
